In [248]:
import pandas as pd
import pyodbc 
import json

#### Chargement des données :

In [249]:
p_json = 30
p_DB = 40

In [250]:
csv_file_name = 'books.csv'
df = pd.read_csv(csv_file_name)
df

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,04.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
11123,45633,You Bright and Risen Angels,William T. Vollmann,04.08,140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9780060878825,eng,434,769,139,2/27/2007,Ecco
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros

In [251]:
df.dropna(axis=1, inplace=True)

In [252]:
# randome the dataset :
df_random_order = df.sample(frac=1, random_state=42)
df_random_order

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
8663,33438,Peach Cobbler Murder (Hannah Swensen #7),Joanne Fluke,3.92,758201559,9780758201553,eng,384,11633,554,2/1/2006,Kensington
483,1537,The Oedipus Plays of Sophocles: Oedipus the Ki...,Sophocles/Paul Roche,3.97,452011671,9780452011670,eng,288,553,46,5/1/1996,Plume
8403,32329,Air Gear Vol. 3 (Air Gear #3),Oh! Great/大暮 維人,04.09,345492803,9780345492807,eng,224,609,3,1/30/2007,Del Rey
6382,24006,Rule #1: The Simple Strategy for Successful In...,Phil Town,04.02,307336131,9780307336132,eng,320,1373,90,3/21/2006,Crown Business
1844,6544,The Scarpetta Collection: All That Remains / C...,Patricia Cornwell,4.16,074325581X,9780743255813,eng,672,30,2,11/11/2003,Scribner
...,...,...,...,...,...,...,...,...,...,...,...,...
5734,21402,Pompeii,Robert Harris/Michael Cumpsty,3.82,739341774,9780739341773,eng,0,7,1,9/5/2006,Random House Audio
5191,18801,The Captive & The Fugitive (In Search of Lost ...,Marcel Proust/C.K. Scott Moncrieff/Terence Kil...,4.39,375753117,9780375753114,eng,957,1924,143,2/16/1999,Modern Library
5390,19436,Werewolves Don't Go to Summer Camp (The Advent...,Debbie Dadey/Marcia Thornton Jones/John Steven...,3.82,590440616,9780590440615,eng,96,2175,76,7/1/1991,Scholastic Paperbacks
860,2864,Girl with a Pearl Earring,Tracy Chevalier,3.88,452284937,9780452284937,eng,233,1162,127,9/30/2003,Plume Books
7270,27892,Lords of the Sky,Angus Wells,3.94,553572660,9780553572667,eng,688,288,17,10/6/1995,Spectra

In [253]:
columns = list(df_random_order.columns)

['bookID',
 'title',
 'authors',
 'average_rating',
 'isbn',
 'isbn13',
 'language_code',
 'num_pages',
 'ratings_count',
 'text_reviews_count',
 'publication_date',
 'publisher']

In [254]:
p_json = int(df_random_order.shape[0] * (p_json  * 0.01))
p_DB = int(df_random_order.shape[0] * (p_DB  * 0.01))
p_csv = df_random_order.shape[0] - (p_json + p_DB)

#### Save to JSON :

In [255]:
p_csv

3339

In [ ]:
json_data_list = df_random_order[0:p_json].to_dict(orient='records')
json_data_list

In [257]:
with open(f'books_{p_DB}_row.json', 'w') as json_file :
        json.dump(json_data_list, json_file, indent=4)

### Save To Database :

#### Pyodbc :

In [258]:
db_data = df_random_order[p_json + 1:p_json + 1 + p_DB]
db_data.shape

(4450, 12)

In [259]:
# Créer un connexion dans le database :
driver = 'SQL Server'
server = 'LAPTOP-6D8J0VI4\SQLEXPRESS'
database = 'DB_spliter'

conn = pyodbc.connect(f'''
                        DRIVER={driver};
                        SERVER={server};
                        DATABASE={database};
                        Trusted_Connection=yes
                       ''')
cursor = conn.cursor()

In [ ]:
table_name = 'Books__DB'
query = f"CREATE TABLE [{table_name}] (\n"

for col in columns:
    query += f"    {col} VARCHAR(MAX),\n"

query = query[:-2] + "\n);"

print(query) 
cursor.execute(query)
cursor.commit()

In [ ]:
# Create the SQL INSERT query template
insert_query = f"INSERT INTO [{table_name}] ({', '.join(columns)}) VALUES ({', '.join(['?'] * len(columns))})"

# # Iterate through the DataFrame using iterrows() and execute the INSERT queries
for _, row in db_data.iterrows():
    var = []
    for i in columns :
        var.append(row[i])
    cursor.execute(insert_query, var)

# Commit the changes to the database
cursor.commit()

#### Save To CSV :

In [268]:
Csv_data = df_random_order[p_json + 1 + p_DB + 1:]

In [269]:
df.to_csv(f'{p_csv}_row_{csv_file_name}', index=False, header=False)